@value colors: "resources/css/colors.module.css";
@value black, grey from colors;

.container {
  display: flex;
  padding: 1em;
  background-color: black;
  color: white;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  font-weight: bold;
}

.column {
  text-align: center;  
}

.value {
  color: grey;
}

.spaceAbove, .value:last-child {
  padding-top: 0.5em;
}

.rowHeadings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
}
